body{
	font-family: Arial, sans-serif;
	color: #000;
	font-size: 18px;
}

header{
	background: #8e44ad;
}

#wrapper{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
}

#wrapper #main-section{
	flex: 0 1 65%;
	margin-right: 40px;
}

#wrapper #side-section{
	flex: 0 0 30%;
	border: 1px solid #ececec;
}

#main-image{
	height: 400px;
	width: 100%;
	background-image: url('img/main.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

#wrapper h1,h4{
	font-size: 32px;
	margin: 0;
	margin-bottom: 20px;
	letter-spacing: 0;
}

#wrapper h4{
	font-size: 24px;
}

#wrapper p{
	margin: 0;
	margin-bottom: 20px;
}

#wrapper #images{
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#wrapper figure{
	flex:  0 0 44%;
	margin-bottom: 20px;
}

#wrapper figure img{
	width: 100%;
}

#wrapper figcaption{
	font-size: 12px;
	margin: 0;
	color: #888;
}

#wrapper table{
	border: 1px solid #ececec;
	width: 100%;
	margin-bottom: 30px;
}

#wrapper th{
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
	width: 30%;
	font-weight: bold;
}

#wrapper td{
	border-bottom: 1px solid #ececec;
}


#wrapper img{
	width: 100%;
	margin: 0 auto;
}

#wrapper #side-list>div{
	padding: 16px;
	margin-bottom: 20px;
	font-size: 16px;
}

#wrapper #ad>div{
	color: #666;
}

#wrapper #label{
	font-size: 16px;
	margin-bottom: 16px;
}

tr{
	border: none;
	border-bottom: 1px solid #ececec;
}

th{
	font-weight: 500;
}
